{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="container mt-5">

<div class="row align-items-center">

<div class="col-md-6">

<h1 class="display-4 fw-bold">

Create Professional Resume

</h1>

<p class="lead mt-3">

Build your ATS Friendly Resume in just a few minutes.

</p>

<a href="/accounts/register/" class="btn btn-primary btn-lg">

Get Started

</a>

</div>

<div class="col-md-6 text-center">

<img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
class="img-fluid"
width="350">

</div>

</div>

</section>

{% endblock %}